<a href="https://colab.research.google.com/github/tonioller/API/blob/master/basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

B2. Programación básica I: Condiciones y bucles

**OPERADORES**

Operadores aritméticos

In [47]:
x = 15
y = 2

print("x + y:", x + y)
print("x - y:", x - y)
print("y^2:", y ** 2)
print("x % 2:", x % 5)
print("x / y:", x / y)
print("x // y:", x // y)

x + y: 17
x - y: 13
y^2: 4
x % 2: 0
x / y: 7.5
x // y: 7

Operadores de comparación

In [48]:
x = 5
y = 3

print("x == y", x == y)
print("x != y", x != y)
print("x > y", x > y)
print("x < y", x < y)
print("x >= y", x >= y)
print("x <= y", x <= y)

x == y False
x != y True
x > y True
x < y False
x >= y True
x <= y False

Comparadores lógicos

In [49]:
x = 8

print(x > 3 and x < 10)


print(x > 3 or x < 4)

x = 6

print(not(x > 3 and x < 10))

True
True
False

Operadores de pertenencia

In [50]:
x = ["apple", "banana", "olives"]

print("banana" in x)
print("patata" not in x)
print("banana" not in x)

True
True
False



---

**Condiciones**

In [51]:
a = 50
b = 10

if b > a:
  print(b, "es más grande que", a)
else:
  print(b, "es más pequeño que", b)

a = 22
b = 100

if b > a:
  print(b, "es más grande que", a)
else:
  print(b, "es más pequeño que", a)

10 es más pequeño que 10
100 es más grande que 22

In [52]:
print("Enter a number: ")
xString = input()
x = int(xString)
if x % 2 == 0:
    print(x, "es un número par")
elif x == 0:
    print(x, "es igual a 0")
else:
    print(x, "es un número impar")

Enter a number:
34
34 es un número par



---

# **Ex1**
ejemplos sobre condiciones

In [53]:
import random

#random.seed(6)

theNumber=random.randint(1, 100);


end = False;

while not(end) :
    print("Quin número creus que és?. En cas de voler abandonar escriu -1");
    n = int(input());

    if (n<0) :
        print("Gràcies per participar. Fins aviat");
        end = True;
    elif (n < theNumber):
        print("El nombre que cerques és més gran");
    elif (n > theNumber):
        print("El nombre que cerques és més petit");
    elif (n == theNumber):
        print(F"Ho has encertat era el {theNumber}!!")
        end = True;

Quin número creus que és?. En cas de voler abandonar escriu -1
23
El nombre que cerques és més gran
Quin número creus que és?. En cas de voler abandonar escriu -1
80
El nombre que cerques és més gran
Quin número creus que és?. En cas de voler abandonar escriu -1
86
El nombre que cerques és més gran
Quin número creus que és?. En cas de voler abandonar escriu -1
88
El nombre que cerques és més gran
Quin número creus que és?. En cas de voler abandonar escriu -1
89
El nombre que cerques és més gran
Quin número creus que és?. En cas de voler abandonar escriu -1
96
El nombre que cerques és més petit
Quin número creus que és?. En cas de voler abandonar escriu -1
95
El nombre que cerques és més petit
Quin número creus que és?. En cas de voler abandonar escriu -1
92
Ho has encertat era el 92!!

## **Bucles**

**The while Loop**

In [54]:
i = 0
while i < 6:
  print(i)
  i += 1

0
1
2
3
4
5

**The while loop - Break**

In [55]:
i = 0
while i < 6:
  print(i)
  if (i == 4):
    break
  i += 1

0
1
2
3
4

**The while loop - continue**

In [56]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

**The while loop - else**

In [57]:
i = 0
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

0
1
2
3
4
5
i is no longer less than 6

**For loop - range**

In [58]:
for i in range(0, 15):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

**For loop - range II**

In [59]:
for i in range(0,15,2):
  print(i)

0
2
4
6
8
10
12
14



---

**List Comprehension vs. Loops**

In [60]:
temperatures = [22, 24, 19, 24, 27, 29, 25]
above_25 = [temp for temp in temperatures if temp > 25]
above_25

[27, 29]

In [64]:
temperatures = [22, 24, 19, 24, 27, 29, 25]
out=[]
for temp in temperatures:
  if temp >25:
    out.append(temp)
out

[27, 29]

**List Comprehension vs. Loops - II**

In [73]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]
newlist

['apple', 'banana', 'mango']

In [61]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [62]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []
fruits[2:4]

['cherry', 'kiwi']

In [63]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for i in range(0, len(fruits)-1):
  if i >= 2 and i<=4:
    newlist.append(fruits[i])
newlist

['cherry', 'kiwi']



---

# **Ex2**


Desarrollar un algoritmo que gestione las entradas y salidas de una cisterna existente en una finca agrícola que gestiona sus recusos hídricos. La cisterna tiene un volumen determinado inical

In [74]:
def depositoCisterna(inicial, s):
    """
    s es un string formado por los
    caracteres + y - que representa
    la evolucion de los días de lluvia.
    "+" indica que ese día ha llovido y las necesidades
    hídricas de la finca quedan satisfechas
    "-" indica que la bomba ha sacado de la cisterna
    las necesidades hídricas de ese día en la finca

    Retorna la capacidad que resta de la cisterna

    >>> depositoCisterna(4, '++++--+')
    7
    >>> depositoCisterna(3,'++++++++++----+')
    11
    >>> depositoCisterna(0,'+-++--+++---++--')
    0
    """
    #### completa el codi i afegeix docstrings al doctest

    cont = inicial


    for elem in s:

        if elem == '+' : cont = cont +1
        else :
          cont = cont -1


    return cont

resto = depositoCisterna(4, '++++--+')
print(resto)

resto = depositoCisterna(3,'++++++++++----+')
print(resto)

resto = depositoCisterna(0,'+-++--+++---++--')
print(resto)

7
10
0



---

# **Ex3**
Imagínate poder manejar un tractor con solo unos simples comandos que determinen el avance de un vehículo agrícola únicamente indicando su orden (norte, sur, este y oeste) de movimientos

    Dado un string 'line' formado con
    las letras n, s, e y o,
    retorna True si y solo si el tractor
    termina en la posicion de salida.
    >>> action('nseo')
    True
    >>> action('nen')
    False

In [66]:
def action(line):
    """
    Dado un string 'line' formado con
    las letras n, s, e y o,
    retorna True si y solo si el tractor
    termina en la posicion de salida.
    Cada letra determina un movimiento en
    una coordenada.
    Ejemplo:
    >>> action('nseo')
    True
    >>> action('nen')
    False
    """
    mv = 0
    mh = 0

    for elem in line:
        if elem == 'n':
          mv = mv + 1
          print (elem, ": mv ", mv)
        if elem == 's':
          mv = mv - 1
          print (elem, ": mv ", mv)
        if elem == 'e':
          mh = mh + 1
          print (elem, ": mh ", mh)
        if elem == 'o':
          mh = mh - 1
          print (elem, ": mh ", mh)

    return (mv == 0 and mh == 0)

ret = action('nseo')
print(ret)

ret = action('nen')
print(ret)

n : mv  1
s : mv  0
e : mh  1
o : mh  0
True
n : mv  1
e : mh  1
n : mv  2
False



---

# **Ej4**
Dibuja una finca de un terreno agrícola indicando la forma del cuadrado vacío

In [75]:
def empty_square(n):
    '''
    Dado un número entero n > 2,
    dibuja una finca en forma de cuadrado vacío de dimensión n vacío.
    >>> empty_square(3)
    ***
    * *
    ***
    >>> empty_square(5)
    *****
    *   *
    *   *
    *   *
    *****
    '''
    s=""

    for elem in range(n):
        if (elem==0) or (elem== n-1):
            print("*"*n)

        else:
            print("*"+ " "*(n-2)+"*")
    #print(s)

empty_square(3)

empty_square(5)

empty_square(8)

***
* *
***
*****
*   *
*   *
*   *
*****
********
*      *
*      *
*      *
*      *
*      *
*      *
********

# **Diccionarios**

ejemplos sobre diccionarios



---

In [77]:
# Crear el diccionario de inventario
inventario = {
    "manzanas": 50,
    "plátanos": 30,
    "naranjas": 40,
    "peras": 25
}

# 1. Agregar 10 mangos al inventario
inventario["mangos"] = 10

# Imprimir el inventario después de agregar mangos
print("Inventario después de agregar mangos:", inventario)

# 2. Eliminar las peras del inventario
del inventario["peras"]

# Imprimir el inventario después de eliminar peras
print("Inventario después de eliminar peras:", inventario)

# 3. Actualizar la cantidad de naranjas en el inventario a 50
inventario["naranjas"] = 50

# Imprimir el inventario después de actualizar naranjas
print("Inventario después de actualizar naranjas:", inventario)

Inventario después de agregar mangos: {'manzanas': 50, 'plátanos': 30, 'naranjas': 40, 'peras': 25, 'mangos': 10}
Inventario después de eliminar peras: {'manzanas': 50, 'plátanos': 30, 'naranjas': 40, 'mangos': 10}
Inventario después de actualizar naranjas: {'manzanas': 50, 'plátanos': 30, 'naranjas': 50, 'mangos': 10}



---

# **Ej5**
En un Centro de control de plagas se desea controlar la carga de enfermedades como mosca de la fruta en cítricos. Por este motivo se registra en un diccionario el nombre de la finca y la carga  detectada después de hacer una prueba. Este valor es númerico

Diseña una función que, dado este diccionario de entrada y un valor límite de carga, devuelva una lista ordenada con los nombres de las fincas que superan el valor límite. En caso de que ninguna persona supere el valor
límite, la función debe devolver la lista vacía.

In [82]:
def plagas(d_enfermedades, limite):

    '''
    Parámetros
    ----------
    d_enfermedades  : dict
               Diccionario con los nombres de las fincas como claves (string)
               y la carga de enfermedades de la fincar (int)

    limite : int
             límite de carga utilizado para filtrar

    Retorna
    -------
    l_result : list
               Lista ordenada alfabéticatemente con los nombres de las fincas
               que superan el límite de carga.


    Ejemplos Públicos
    -----------------

    >>> d_enfermedades = {'finca la nova': 5000,
    ...            'finca de l'avi Pere: 6000,
    ...             'finca de l'olivereta': 3261,
    ...             'Ca la Pepa': 2348,
    ...             'Del Mas': 6150}
    >>> plagas (d_malaties, 3500)
    >>> plagas (d_virus, 9500)
    []
    '''

    l_result=[]

    for clau in d_enfermedades:

        if d_enfermedades[clau] > limite:

            l_result.append(clau)

    l_result.sort()

    return l_result

d_enfermedades = {'finca la nova': 5000,
    'finca de l\'avi Pere': 6000,
    'finca de l\'olivereta': 3261,
    'Ca la Pepa': 2348,
    'Del Mas': 6150}

ret = plagas (d_enfermedades, 3500)
print(ret)


ret = plagas (d_enfermedades, 4999)
print(ret)

ret = plagas (d_enfermedades, 5000)
print(ret)

ret = plagas (d_enfermedades, 9500)
print(ret)

['Del Mas', "finca de l'avi Pere", 'finca la nova']
['Del Mas', "finca de l'avi Pere", 'finca la nova']
['Del Mas', "finca de l'avi Pere"]
[]

# **Ej5** - Versión actualizada con un vector de diccionarios

In [81]:
def plagas(finques, limite):

    '''
    Parámetros
    ----------
    fincas  : vector de diccionarios
               Diccionario con los nombres de las fincas como claves (string)
               y la carga de enfermedades de la fincar (int)

    limite : int
             límite de carga utilizado para filtrar

    Retorna
    -------
    l_result : list
               Lista ordenada alfabéticatemente con los nombres de las fincas
               que superan el límite de carga.


    Ejemplos Públicos
    -----------------

    >>> fincas = [{'nombre': 'La nova', 'carga': 5000,
    ...            'nombre': 'finca avi Pere , 'carga':6000,
    ...             'nombre': 'Olivereta' , 'carga': 3261,
    ...             'nombre': 'Ca la pepa', 'carga': 2348,
    ...             'nombre': 'Mas del Bages', 'carga': 6150}
    ...           ]
    >>> plagas (fincas, 3500)
    >>> plagas (fincas, 9500)
    []
    '''

    l_result=[]

    for finca in finques:
        if finca['carga'] > limite:
            l_result.append(finca)

    l_result = sorted(l_result, key=lambda d: d['nombre'])
    #l_result.sort()
    return l_result

fincas = [
                {
                  "nombre":"La nova",
                  "carga": 5000,
                  "cultivo": ["blat", "ordi"]
                },
                {
                  "nombre":"Finca avi Pere",
                  "carga": 6000,
                  "cultivo": ["blat"]
                },
                {
                    "nombre":"Olivereta",
                    "carga": 3261,
                    "cultivo": ["olives"]
                },
                {
                    "nombre":"Ca la Pepa",
                    "carga": 2348,
                    "cultivo": ["atmelles"]
                },
                {
                    "nombre":"Mas del Bages",
                    "carga": 6150,
                    "cultivo": ["vinya"]
                }
                ]

print("0 => ")
ret = plagas (fincas, 0)
print(ret)

print("3500 => ")
ret = plagas (fincas, 3500)
print(ret)

print("4999 => ")
ret = plagas (fincas, 4999)
print(ret)

print("5000 => ")
ret = malalties (fincas, 5000)
print(ret)

print("9500 => ")
ret = malalties (fincas, 9500)
print(ret)

0 =>
[{'nombre': 'Ca la Pepa', 'carga': 2348, 'cultivo': ['atmelles']}, {'nombre': 'Finca avi Pere', 'carga': 6000, 'cultivo': ['blat']}, {'nombre': 'La nova', 'carga': 5000, 'cultivo': ['blat', 'ordi']}, {'nombre': 'Mas del Bages', 'carga': 6150, 'cultivo': ['vinya']}, {'nombre': 'Olivereta', 'carga': 3261, 'cultivo': ['olives']}]
3500 =>
[{'nombre': 'Finca avi Pere', 'carga': 6000, 'cultivo': ['blat']}, {'nombre': 'La nova', 'carga': 5000, 'cultivo': ['blat', 'ordi']}, {'nombre': 'Mas del Bages', 'carga': 6150, 'cultivo': ['vinya']}]
4999 =>
[{'nombre': 'Finca avi Pere', 'carga': 6000, 'cultivo': ['blat']}, {'nombre': 'La nova', 'carga': 5000, 'cultivo': ['blat', 'ordi']}, {'nombre': 'Mas del Bages', 'carga': 6150, 'cultivo': ['vinya']}]
5000 =>
[{'nombre': 'Finca avi Pere', 'carga': 6000, 'cultivo': ['blat']}, {'nombre': 'Mas del Bages', 'carga': 6150, 'cultivo': ['vinya']}]
9500 =>
[]